beautifulsoup4==4.4.1
bs4==0.0.1
decorator==4.0.10
get==0.0.11
IPy==0.83
networkx==1.11
numpy==1.21.0
pandas==0.18.1
post==0.0.8
public==0.0.34
python-dateutil==2.5.3
pytz==2016.6.1
query-string==0.0.8
request==0.0.8
requests==2.10.0
six==1.10.0
snakemake==3.7.1
urllib3==1.16
